<div
  class="content p-3 rounded-3"
  style="background-color: #eee"
>
  <div class="text-end">
    <button class="mat-dialog-close" color="warn" mat-icon-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <h3 class="text-center mb-2">{{dialogAction}} une tâche</h3>
  <div class="container">
    <form class="row gx-5" method="post" [formGroup]="taskForm">
      <div class="mb-3 col-md-6">
        <label class="form-label">Nom</label>
        <input
          formControlName="object"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Division</label>
        <select style="height: 35px" class="w-100" formControlName="divisionId">
          <option *ngFor="let division of divisions" value="{{division.id}}">
            {{division.nameDivision}}
          </option>
        </select>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Début</label>
        <input
          type="date"
          class="form-control"
          formControlName="startDate"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label">Fin</label>
        <input
          type="date"
          class="form-control"
          formControlName="endDate"
        />
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label"
        >Etat</label
        >
        <select style="height: 35px" class="w-100" formControlName="state">
          <option *ngFor="let value of Object.values(TaskState)" [value]="value">{{ value }}</option>
        </select>
      </div>
      <div class="mb-3 col-md-6">
        <label class="form-label"
        >Description</label
        >
        <input
          type="text"
          class="form-control"
          formControlName="description"
        />
      </div>
      <div>
        <button class="btn btn-primary" (click)="handleSubmit()">Enregistrer</button>
      </div>
    </form>
  </div>
</div>
